<div class="container-fluid  mt-5 pt-5 sombra">
  <div class="container">
    <div class="row">
      <div class="col-12 ">
        <h2 class="letra text-center pb-3">Nosotros</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque repellat beatae optio error porro minus magnam
          accusamus pariatur quia. Neque eius esse repellat minus omnis.</p>
        <ul class="d-flex flex-column pt-4">
          <li class="fa fa-check mb-3">
            <span class=" letra ml-2">Lorem ipsum dolor sit amet.</span>

          </li>
          <li class="fa fa-check mb-3 ">
            <span class="letra ml-2 ">Lorem ipsum dolor sit amet.</span>

          </li>
          <li class="fa fa-check letran mb-3 ">
            <span class="letra ml-2 ">Lorem ipsum dolor sit amet.</span>

          </li>

        </ul>
      </div>

      <!-- <div class="col-5 pt-5 ">

                             <img class="img-fluid  h-75 w-100 redondo" src="../../../assets/img/biblioteca.jpg" alt="">
                        
        
                    </div> -->
    </div>
  </div>
</div>

<div class="container pt-5">
  <div class="row">
    <div class="col-lg-4 col-md-6 col-sm-12 ">
      <div class=" bg-gris text-center p-2 caja position-relative ">
        <div class="circulo bg-verde position-absolute text-center">
          <i class="fa fa-users text-white letra position-absolute posicion " aria-hidden="true"></i>
        </div>
        <h4 class="mt-5 pt-5"><strong>Mejor </strong>equipo</h4>

        <p class="pequeno">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur, autem in quidem
          reiciendis harum repellat delectus laboriosam numquam.</p>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
      <div class=" bg-gris text-center p-2 caja position-relative ">
        <div class="circulo bg-verde position-absolute text-center">
          <i class="fa fa-heart text-white letra position-absolute posicion " aria-hidden="true"></i>
        </div>
        <h4 class="mt-5 pt-5"><strong>Trabajo </strong>en equipo</h4>

        <p class="pequeno">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur, autem in quidem
          reiciendis harum repellat delectus laboriosam numquam.</p>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
      <div class=" bg-gris text-center p-2 caja position-relative ">
        <div class="circulo bg-verde position-absolute text-center">
          <i class="fa fa-rocket text-white letra position-absolute posicion " aria-hidden="true"></i>
        </div>
        <h4 class="mt-5 pt-5"><strong>Somos </strong>los mejores</h4>

        <p class="pequeno">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur, autem in quidem
          reiciendis harum repellat delectus laboriosam numquam.</p>
      </div>
    </div>

  </div>
</div>

<div class="container py-5">
  <h2 class="bg-azul pb-3">Nuestros Servicios</h2>
  <div class="accordion" id="accordionExample">
        <div class="card">
          <div class="card-header verde  " id="headingOne">
            <h2 class="mb-0">
              <button class="btn   " type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                servicio 1
              </button>
            </h2>
          </div>
      
          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header verde text-white" id="headingTwo">
            <h2 class="mb-0">
              <button class="btn  collapsed " type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
               servicio 2
              </button>
            </h2>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="card-body">
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header verde" id="headingThree">
            <h2 class="mb-0">
              <button class="btn  collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Servicio 3
              </button>
            </h2>
          </div>
          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
            <div class="card-body">
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </div>
          </div>
        </div>
      </div>
</div>


<app-footer></app-footer>
