<div class="jumbotron jumbotron-fluid bg-dark d-flex flex-row position-relative">
  <div class="container ">
    <h1 class="display-3 text-white text-center">{{libro.editorial}} </h1>
    <p class="lead text-white text-center">{{libro.autor}} </p>
    <hr class="my-2">
  </div>

  
  <div class="container position-absolute posicionar">
    <img class="img-fluid altura" [src]=" libro | book" alt="Card image cap">
  </div>

</div>




 <div class="container mt-5 py-2">

  <p>{{libro.descripcion}}</p>
  
   

 </div>
